DB_USERNAME='privateData'
DB_PASSWORD='privateData'
DB_HOST='privateData'
EMAIL_USER='xxxxxxx@gmail.com'
EMAIL_PASS='password'
EMAIL_REGISTRATION_MSG='Gracias por registrar tu cuenta con nosotros'
STRAPI_AUTH_TOKEN='STRAPI TOKEN EXAMPLE TO INTEGRATE HEADLESS CMS'
STRAPI_PROD_URL='https://my-strapi-production-url-blabla-railway.app/api'
VERIFY_TOKEN='meta verify token'
WHATSAPP_TOKEN='EAAFEnxWnfpEBO1Bl7ZBtvQfMWzwS2ZBudkLznMCjEu9U8BmiXKauVj83FvKVt4ke9VZAgm7rfukHW8amP80uO898Px1cVwzLlvRcePgHbCLZCngZBxjqIy1Bxi1bSzXZBulojxrOOvG2RsRUXAKHQ5yVKGFdw6B1AVybzZBtmoZAnZBBcWLpBNC7WcZBvMZAZAS5WTfTA4lgJnJjQLCFaZBHRpUvZCYuj74oQ1SfQ2SVsZD'
